a {
    text-decoration: none;
}
h1{
    font-size: 3rem;
    color: $color1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size: 2rem;
    color: $color2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenu{
    font-size: 1rem;
    color: $color3;
}
